/** __Mixins */
@mixin mixins_sample {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin mixin_responsive {
    /** Celular */
    @media (min-width: 0px) and (max-width: $width-md) {
        width: $width-md;
    }
}
