/** __Navigation */
.menu {
    @include mixin_responsive;
    width: $width-xl;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid gray;

    .logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
    }

    .nav {
        display: inline-block;
        width: 840px;
        text-align: right;
        ul {
            display: inline-flex;
            list-style: none;
            li {
                padding: 0 0.5rem 0 0.5rem;
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    .input-menu {
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}
