@charset "UTF-8";
/** Init: @import __Main.scss */
/** __Variables */
/** Colors */
/** size */
/** __Mixins */
/** __Boostrap */
/** __FontAwesome */
/** __Typography */
/** Tipografias */
/** Tamaño Letras */
/** __Reset */
* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

/** __Navigation */
.menu {
  /** Celular */
  width: 1200px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu {
    width: 768px;
  }
}
.menu .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.menu .nav {
  display: inline-block;
  width: 840px;
  text-align: right;
}
.menu .nav ul {
  display: inline-flex;
  list-style: none;
}
.menu .nav ul li {
  padding: 0 0.5rem 0 0.5rem;
}
.menu .nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu .nav ul li a .input-menu {
  border-radius: 30px;
}

/** __Grid */
/** __Header */
/** __Footer */
.footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

/** __Sidebar */
/** __Forms */
/** __Buttons */
/** __Carousel */
/** __Cover */
/** __Dropdown */
/** __Home */
.contenedor {
  /** Celular */
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contenedor {
    width: 768px;
  }
}
.contenedor__contenido {
  /** Celular */
  width: 1200px;
  margin: 0 auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contenedor__contenido {
    width: 768px;
  }
}
.contenedor__contenido__listado-noticias {
  width: 700px;
  float: left;
}
.contenedor__contenido__listado-noticias__noticia {
  width: 210px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}
.contenedor__contenido__listado-noticias__noticia__cuerpo img {
  width: 210px;
  height: 300px;
}
.contenedor__contenido__listado-noticias__noticia__cuerpo p {
  padding: 5px 10px;
}
.contenedor__contenido__listado-izquierdo {
  width: 220px;
  float: right;
  /** Celular */
}
.contenedor__contenido__listado-izquierdo__cabecera-listado {
  width: 220px;
  border-bottom: 1px solid gray;
}
.contenedor__contenido__listado-izquierdo__tags {
  border-bottom: 1px solid gray;
}
.contenedor__contenido__listado-izquierdo__tags ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.contenedor__contenido__listado-izquierdo__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}
.contenedor__contenido__listado-izquierdo__noticias-destacadas {
  margin-bottom: 50px;
}
.contenedor__contenido__listado-izquierdo__noticias-destacadas img {
  width: 220px;
  height: 200px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contenedor__contenido__listado-izquierdo {
    display: none;
  }
}
.contenedor__newsletter {
  margin: 0;
  padding: 0;
  list-style: none;
  /** Celular */
  width: 1200px;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contenedor__newsletter {
    width: 768px;
  }
}
.contenedor__newsletter h2 {
  font-size: 24px;
}
.contenedor__newsletter__group input {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contenedor__newsletter__group button {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: coral;
  color: white;
}

/** __Contact */
/** __Theme */
/** __Admin */
/** End: @import __Main.scss */
